body{
     font-family: 'Poppins', sans-serif;
}
section{
     display: flex;
}
.text{
width: 50%;
color: aliceblue;
}
.baground{
     background-image: url(image/cropped-1920-1081-1003220.png);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: 100% 100%;

}
h1{
     color: aliceblue;
}
.box{
     width: 100px;
     height: auto;
     padding: 10;
}
img{
     max-width: 100%;
}
.h3{
     color: blueviolet;
}
p{
     color: aliceblue;
}
h4{
     display: flex;
}
.border{
       text-decoration: none;
       background-color: rgb(163, 57, 249);
       color: white;
       font-weight: 700;
       padding: 10px 40px;
       border-radius: 5%;
     }